body, html {
    height: 100%;
    font-family: 'Exo', sans-serif;
}




.hero-image {
  /* Credit  for picture from Maria Perez via Pexels: https://www.pexels.com/sv-se/foto/bakad-bakverk-blandad-brod-2128535/ */
  /* credit to our friends at w3schools for the Hero-image + hero text with styling: https://www.w3schools.com/howto/howto_css_hero_image.asp /*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero-image.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: solid 5px;
}
/* The hero image /*/

/* Navigation */


.navbar {
    padding-bottom: 20px;
    padding-top: 20px;
}


.bg-color-nav {
    background-color: rgba(0, 0, 0,0.8)  
    
}

.nav-link {
    font-weight: 600;
    
    
}

.navbar-light .navbar-brand {
    font-weight: 500;
    color: #fafafa;
    margin-right: 0;
    

}
.navbar-light .navbar-nav .nav-link {
    Color: #fafafa;
}

.navbar-light .navbar-toggler {
    border-color: #fafafa;
}

.active {
    text-decoration: underline;
    color: #007bff !important;
}


/* Navigation /*/

/* Hero image text credit to our friends at w3schools: https://www.w3schools.com/howto/howto_css_hero_image.asp */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #b9b9b9;

}




/* Hero image text /*/

/* Blockquotes*/

.tonys-bread {
    border-radius: 50%;
    border: solid 1px #b9b9b9;
}



.blockquote {
    text-align: center;
    margin-top: 0px;
    
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

.product-bg {
    background-color: #b9b9b9;
}

/* Blockquotes /*/

/* Products page*/

.product-images {
    border: solid 1px #b9b9b9;
    border-radius: 10%; 
}

.padding {
    padding: 10px;
    
}

.height-of-picture {
    height: 70%;
}

.badge {
    margin-left: 5px;
    }

.pre-products {
    border-bottom: solid 1px rgba(0, 0, 0,0.5);
    padding-top: 25px; 
    text-align: center; 
    }

    .btn {
        position: absolute;
        left: 0;
        bottom: 0;
        margin-left: 10px;
        
    }

    .space-below {
        margin-bottom: 10px;
    }

    .padding-bottom {
padding-bottom: 25px;
    }
        
    
    
    
}


/* Product page /*/

/* Opening hours etc*/
.col-12 h3 {
    Text-align: center;
    border-bottom: solid 2px rgba(0, 0, 0,0.5);
    border-top: solid 2px rgba(0, 0, 0,0.5);
    margin-bottom: 0;
}

.bg-color-google {
    background-color: #b9b9b9;
}

.margin-top {
    margin-top: 50px;
    font-size: large;
}

.text-align {
    text-align: end;
}



/* Opening hours etc  /*/

/* <!-- Google maps credit to mdbootstrap: https://mdbootstrap.com/docs/b4/jquery/javascript/google-maps/--> */

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 100%;
    width: 100%;
   Margin-top: 0;
    }
    
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

/* Google maps /*/ 

/* Footer*/

.fab {
    font-size: 20px;
}

.position-right {
    text-align: center;
    border-top: solid 5px;
    background-color: rgba(0, 0, 0,0.8)  
    
}

.fa-facebook-square {
    padding-right: 5px;
}

.fa-instagram-square {
padding: 0 5px 0 5px;
}

.fa-twitter-square {
    padding: 0 5px 0 5px;
}

.position-right p {
    color: #fafafa;
}

/* About page */
.heading-position-about {
    Text-align: center;
}

.black-bar-about {
    border-bottom: solid 3px rgba(0, 0, 0,0.8);
    max-width: 300px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.about-info {
    max-width: 600px;
}

h4 {
    text-align: left;
}

.about-picture {
    margin-bottom: 25px;
    border: solid 2px rgba(0, 0, 0,0.8);
    border-radius: 10%;
    
}

.about-bg-color {
    background-color: #b9b9b9;
}



/* About page / */


/* Contact page */

.heading-position-contact {
    text-align: center;
}


.contact-bg-color {
    background-color: #b9b9b9;
}

.black-bar-contact {
    border-bottom: solid 3px rgba(0, 0, 0,0.8);
    max-width: 300px;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-info {
max-width: 600px;
}

.feedback-form {
    max-width: 600px;  
}







/* Contact page  /*/

